<!-- h1>
  {{title}}
</h1 -->

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="modal_title">Visualização do vídeo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <iframe width="640" height="390" id="youtubePlayer"
          src=""
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<section class="top_frame">
  <span class="top_title">Dashboard videos</span>
  <div class="Ellipse_1"></div>
</section>

<section class="TelaBG">
  <app-videos></app-videos>
</section>

<!-- div class="container">
  <div class="row justify-content-center">
    <h1 class="text-center">Lista de videos</h1>
    
  </div>
</div -->